/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200..700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ---------- General styles ---------- */
body {
    min-height: 100vh;
    /* Using min-height will allow it to stretch larger than the height of the screen 
    when there is enough content on the page that the user needs to scroll. */
    display: flex;
    flex-direction: column;
    /* We'll also want to set the display to flex and the flex-direction to 
    column, so our elements will still show underneath each other. */
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
}



/* ---------- Header ---------- */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    /* adds some padding to left and right */
    z-index: 99;
    position: fixed;
    /* when the position is made fixed, the width reverts to content width */
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    /* removes default underline styling and blue colour of each of the links */
    color: inherit;
    /* sets the text colour to inherit from the body, changes default link colour */
}

h1 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

#menu {
    font-size: 110%;
    /* font-size: 1.1rem;  ------ would this be the same? */
    list-style-type: none;
    letter-spacing: 4px;
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    /* takes an element out of the normal flow of the page structure, 
    it is positioned relative to the nearest positioned ancestor, 
    in this case the header */
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    /* this will make the navbar items hidden until the user clicks to open them */
    top: 100%;
    /* this tells the navigation element that the top of the element should start at the bottom of its parent. 0% would represent the top of the parent, and 100% represents the bottom of it */
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display:none;
}

.nav-toggle-label {
    font-size: 2rem;
}



/* ---------- Main content ---------- */
main {
    background-color: lightblue;
    flex: 1 0 auto;
    /* this will make the main element take up any surplus space, and push footer down. 
    It should not shrink when the screen is too small to show all the content. */
    margin-top: 48px;
}



/* ---------- Footer ---------- */
footer {
    background-color: orange;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* ---------- Header ---------- */
    nav {
        display: block;
        /* So it is visable again */
        position: relative;
        /* To put nav back inside the header */
        box-shadow: none;
        width: fit-content;
        /* now it no longer takes up all of the space in the header, allowing 
        our flex styles from earlier to push it to the right (space between) */
        padding-right: 1rem;
        /* So menu items don't stick to screen */
    }

    #menu {
        display: flex;
        /* So that the menu items show in a row rather than column */
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        /* this gives it more space at the top --- ? --- why has this been used and not margin-top? */
        margin: 0 0.5rem;
    }

    /* ---------- Main content ---------- */
    main {
        /* Push main content down to accommodate larger header */
        margin-top: 79px;
        /* Header only took up 78.59px so how come there is no gap -----???---- */
    }

}

/* Media query: Small laptops and larger (992px and up) */
@media screen and (min-width: 992px) {
    /* ---------- Header ---------- */
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }
}