/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200..700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ---------- General styles ---------- */
body {
    min-height: 100vh;
    /* Using min-height will allow it to stretch larger than the height of the screen 
    when there is enough content on the page that the user needs to scroll. */
    display: flex;
    flex-direction: column;
    /* We'll also want to set the display to flex and the flex-direction to 
    column, so our elements will still show underneath each other. */

    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
}

h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}





/* ---------- Header ---------- */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    /* adds some padding to left and right */
    z-index: 99;
    position: fixed;
    /* when the position is made fixed, the width reverts to content width */
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    /* QUESTION ----------------------------------------- Does it need this as this has already been set in body? See main & media query #menu Questions */
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    /* removes default underline styling and blue colour of each of the links */
    color: inherit;
    /* sets the text colour to inherit from the body, changes default link colour */
}

#menu {
    font-size: 110%;
    list-style-type: none;
    letter-spacing: 4px;
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    /* takes an element out of the normal flow of the page structure, 
    it is positioned relative to the nearest positioned ancestor, 
    in this case the header */
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    /* this will make the navbar items hidden until the user clicks to open them */
    top: 100%;
    /* this tells the navigation element that the top of the element should start at the bottom of its parent. 0% would represent the top of the parent, and 100% represents the bottom of it */
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display:none;
}

.nav-toggle-label {
    font-size: 2rem;
}





/* ---------- Main content ---------- */
main {
    flex: 1 0 auto;
    /* grow shrink width; - this will make the main element take up any surplus space, and push footer down. It should not shrink when the screen is too small to show all the content. */
    /* QUESTION ----------------------------------------- Does this work without display: flex; as this has already been set in body and is inherited? See header & media query #menu Questions */
    margin-top: 48px;
}

/* Hero Section */
#hero {
    height: 600px;
    width: 100%;
    background: url("../images/hero-image.webp") no-repeat center center/cover;
    position: relative;
}

#cover-text {
    background-color: rgba(241, 109, 107, .7);
    font-size: 130%;
    position: absolute;
    bottom: 30px;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
}

#cover-text > h2, #cover-text> h3 {
    /* This is targetting any h2 or h3 that is a direct child of the cover-text div */
    color: #ffffff;
}

/* Reasons Section */
#reasons {
    width: 90%;
    margin: 20px auto;
}

#reasons h2 {
    font-size: 280%;
    margin-bottom: 20px;
    text-align: center;
}

#benefits-physical > div, #benefits-mental > div {
    line-height: 20px;
    margin: 20px;
}

#benefits p {
    padding: 0 20px;
}

#benefits hr {
    border-top: 1px solid #3a3a3a;
    margin: 5px 0;
}

#circle-cover-bg {
    background: url("../images/reasons-image.webp") top center / cover no-repeat;
    height: 90vh;
    width: 90vw;
    margin-bottom: 20px;
    border-radius: 50%;
    /* m kes the square image into a circle */
    max-width: 300px;
    max-height: 300px;
}

#benefits-image {
    display: flex;
    align-items: center;
    justify-content: center;
}




/* ---------- Footer ---------- */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    /* Targets all i decendants of the social-networks id */
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}





/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Header */
    nav {
        display: block;
        /* So it is visable again */
        position: relative;
        /* To put nav back inside the header */
        box-shadow: none;
        width: fit-content;
        /* now it no longer takes up all of the space in the header, allowing the flex styles from earlier to push it to the right (space between) */
        padding-right: 1rem;
        /* So menu items don't stick to screen */
    }

    #menu {
        display: flex;
        /* So that the menu items show in a row rather than column */
        /* QUESTION ----------------------------------------- display: flex; has already been set in the body and the direction was changed to column, so how come this is making it row again as it already has display: flex; applied if inherited, or does adding display: flex; set it all to default again even if it has already been set? See header and main Questions */
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        /* QUESTION ------------ this gives it more space at the top of the text, but why has this been used and not margin-top? */
        margin: 0 0.5rem;
    }

    /* Main content */
    main {
        /* Push main content down to accommodate larger header */
        margin-top: 79px;
        /* QUESTION -------------------------------- Header only took up 78.59px so how come there is no gap, or is it too small to see, as would only be 0.41px? Should this not be changed to 78.59px or should it be an integer? 
        QUESTION ------------------------------- Is there not a  better way to set this so that even if the height of the header is changed it will adjust itself automatically? */
    }

    /* Hero */
    #cover-text {
        width: 300px;
        right: 50px;
    }
}

/* Media query: Small laptops and larger (992px and up) */
@media screen and (min-width: 992px) {
    /* Header */
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }
}